<div class="body-width">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Monthly Income</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter monthly income:">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Monthly Recurring Expenses</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter monthly recurring expenses:">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Savings Goal</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter savings goal:">
        </div>
    </form>
    <input type="number" class="form-control" id="income" required [(ngModel)]="model.income" name="income">
    <input type="number" class="form-control" id="expenses" required [(ngModel)]="model.expenses" name="expenses">
    <input type="number" class="form-control" id="savingsGoal" required [(ngModel)]="model.savingsGoal" name="savingsGoals">
    <button class="btn btn-primary" (click)="loggy()">Submit</button>
</div>